body{
	font-family: Tahoma;
	font-size: 15px;
	line-height: .;
	font: 15;

	padding:0;
	margin: 0;
	background-color: #faf3dd;

}
/* Global */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;

}

ul{
	margin:0;
	padding:0;

}
/* Header */
header{
	background: #789fbf;
	color: #faf3dd;
	position: absolute;
	top: 10%;
	width: 100%;
	
}

header #logo{
	text-align: center;
	font-size: 20px;
}
/* Nav */
#nav{
	background: #80b1bc;
	position: absolute;
	top: 22.5%;
	width: 100%;
}

#nav a{
	color: #5C5D67;
	text-decoration: none;
	font-weight: normal;
	font-size: 15px;
}

#nav li{
	display: inline;
	padding: 0 15px 0 15px;
}


#nav nav{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#nav .current a{
	color: #faf3d3;
	font-weight: bold;
}
/* Footer */
footer{
	background: #789fbf;
	color: #789fbf;
	position: absolute;
	bottom: 10%;
	width: 100%;
}

footer #empty{
	text-align: center;
	font-size: 20px;
}